<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/Scripts/site.js")
</head>
<body data-viewscript="views.shared.layout">
    @RenderBody()
</body>
</html>
