@{
    ViewBag.Title = "View Script Test Site";
}

<div data-viewscript="views.home.index">
    <h1>Click me to change color</h1>

    <div>
        <input type="button" value="Click me to load a new item" />
    </div>
    <div class="placeholder"></div>

</div>